{% include 'base.html' %}
{% block content %}
<div class="container animated zoomIn">
    <div class="row col-lg-12" style="text-align: center">
        <hr>
        <p>
        <div class="well col-lg-8" style="float: none; border: 20px solid white; " id="group">
            
            <p>
                So My name is Omar, I am glad you found your way to this website<br>
                I hope u find it helpful<br>
                It's a lot more fun when u share knowledge , enjoy :)<br><br>
            </p>
            <div style="margin: 50px auto;">
                <a href="/accounts/register/" id="leada">Signup here</a>
                <a href="/accounts/login/" id="leada">Login here</a>
            </div>
        </div>
        </p>
    </div>
</div>
{% endblock content %}